In [1]:
import pandas as pd

In [2]:
rp = pd.read_csv("/home/jorge/tfm-jvm/data/tables/rp.csv")
rp = rp.sort_values(by=["id_p", "rs_day"])
del rp["activity_cut"]
rp

,id_p,N,pop_sum,pop_mean,pop_std,norm2_mean,norm2_std,g_sum,g_mean,g_std,romanos,germano,galos,natares,egipcios,hunos,one_g,rs_day,dayofweek,weekend
0,9,1,244,244.000000,NaN,47.539457,NaN,24.0,24.0,NaN,0,0,1,0.0,0,0,True,5,1,False
1,9,2,396,198.000000,115.965512,47.811359,0.384527,88.0,44.0,11.313708,0,0,2,0.0,0,0,True,6,2,False
2,9,2,463,231.500000,119.501046,47.811359,0.384527,67.0,33.5,3.535534,0,0,2,0.0,0,0,True,7,3,False
3,9,2,518,259.000000,121.622366,47.811359,0.384527,55.0,27.5,2.121320,0,0,2,0.0,0,0,True,8,4,False
4,9,2,587,293.500000,112.429978,47.811359,0.384527,69.0,34.5,9.192388,0,0,2,0.0,0,0,True,9,5,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1476504,325249,6,2786,464.333333,213.712580,132.720858,12.641545,0.0,0.0,0.000000,0,0,6,0.0,0,0,False,19,6,True
1476505,325249,6,2786,464.333333,213.712580,132.720858,12.641545,0.0,0.0,0.000000,0,0,6,0.0,0,0,False,20,0,False
1476506,325249,6,2786,464.333333,213.712580,132.720858,12.641545,0.0,0.0,0.000000,0,0,6,0.0,0,0,False,21,1,False
1476507,325249,5,2684,536.800000,240.178475,135.895819,11.142620,511.0,102.2,54.778645,0,0,5,0.0,0,0,True,22,2,False
1476508,325249,7,2990,427.142857,272.883631,137.244575,9.429437,0.0,0.0,0.000000,0,0,7,0.0,0,0,False,23,3,False

### Add Variables

In [3]:
rp["N_diff"] = rp.groupby("id_p")["N"].diff()

In [4]:
rp

,id_p,N,pop_sum,pop_mean,pop_std,norm2_mean,norm2_std,g_sum,g_mean,g_std,...,germano,galos,natares,egipcios,hunos,one_g,rs_day,dayofweek,weekend,N_diff
0,9,1,244,244.000000,NaN,47.539457,NaN,24.0,24.0,NaN,...,0,1,0.0,0,0,True,5,1,False,NaN
1,9,2,396,198.000000,115.965512,47.811359,0.384527,88.0,44.0,11.313708,...,0,2,0.0,0,0,True,6,2,False,1.0
2,9,2,463,231.500000,119.501046,47.811359,0.384527,67.0,33.5,3.535534,...,0,2,0.0,0,0,True,7,3,False,0.0
3,9,2,518,259.000000,121.622366,47.811359,0.384527,55.0,27.5,2.121320,...,0,2,0.0,0,0,True,8,4,False,0.0
4,9,2,587,293.500000,112.429978,47.811359,0.384527,69.0,34.5,9.192388,...,0,2,0.0,0,0,True,9,5,True,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1476504,325249,6,2786,464.333333,213.712580,132.720858,12.641545,0.0,0.0,0.000000,...,0,6,0.0,0,0,False,19,6,True,1.0
1476505,325249,6,2786,464.333333,213.712580,132.720858,12.641545,0.0,0.0,0.000000,...,0,6,0.0,0,0,False,20,0,False,0.0
1476506,325249,6,2786,464.333333,213.712580,132.720858,12.641545,0.0,0.0,0.000000,...,0,6,0.0,0,0,False,21,1,False,0.0
1476507,325249,5,2684,536.800000,240.178475,135.895819,11.142620,511.0,102.2,54.778645,...,0,5,0.0,0,0,True,22,2,False,-1.0
1476508,325249,7,2990,427.142857,272.883631,137.244575,9.429437,0.0,0.0,0.000000,...,0,7,0.0,0,0,False,23,3,False,2.0

In [5]:
rp.columns

Index(['id_p', 'N', 'pop_sum', 'pop_mean', 'pop_std', 'norm2_mean',
       'norm2_std', 'g_sum', 'g_mean', 'g_std', 'romanos', 'germano', 'galos',
       'natares', 'egipcios', 'hunos', 'one_g', 'rs_day', 'dayofweek',
       'weekend', 'N_diff'],
      dtype='object')

In [6]:
len(rp)

1476509

In [8]:
rp_no_natares = rp[rp["natares"] == 0]
rp_no_natares

,id_p,N,pop_sum,pop_mean,pop_std,norm2_mean,norm2_std,g_sum,g_mean,g_std,...,germano,galos,natares,egipcios,hunos,one_g,rs_day,dayofweek,weekend,N_diff
0,9,1,244,244.000000,NaN,47.539457,NaN,24.0,24.0,NaN,...,0,1,0.0,0,0,True,5,1,False,NaN
1,9,2,396,198.000000,115.965512,47.811359,0.384527,88.0,44.0,11.313708,...,0,2,0.0,0,0,True,6,2,False,1.0
2,9,2,463,231.500000,119.501046,47.811359,0.384527,67.0,33.5,3.535534,...,0,2,0.0,0,0,True,7,3,False,0.0
3,9,2,518,259.000000,121.622366,47.811359,0.384527,55.0,27.5,2.121320,...,0,2,0.0,0,0,True,8,4,False,0.0
4,9,2,587,293.500000,112.429978,47.811359,0.384527,69.0,34.5,9.192388,...,0,2,0.0,0,0,True,9,5,True,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1476504,325249,6,2786,464.333333,213.712580,132.720858,12.641545,0.0,0.0,0.000000,...,0,6,0.0,0,0,False,19,6,True,1.0
1476505,325249,6,2786,464.333333,213.712580,132.720858,12.641545,0.0,0.0,0.000000,...,0,6,0.0,0,0,False,20,0,False,0.0
1476506,325249,6,2786,464.333333,213.712580,132.720858,12.641545,0.0,0.0,0.000000,...,0,6,0.0,0,0,False,21,1,False,0.0
1476507,325249,5,2684,536.800000,240.178475,135.895819,11.142620,511.0,102.2,54.778645,...,0,5,0.0,0,0,True,22,2,False,-1.0
1476508,325249,7,2990,427.142857,272.883631,137.244575,9.429437,0.0,0.0,0.000000,...,0,7,0.0,0,0,False,23,3,False,2.0

## Get player Results

In [11]:
def get_data_table(x, n):
    if len(x) < n:
        return None
    data = x.iloc[-n:]
    player = {
        "id_p" : data["id_p"].iloc[0],
        "n_days" : n,
        "N_last" : data["N"].iloc[n-1],
        "N_first" : data["N"].iloc[0],
        "N_diff_positive" : data[data["N_diff"] > 0]["N_diff"].sum(),
        "N_diff_negative" : data[data["N_diff"] < 0]["N_diff"].sum(),
        "pop_sum_mean" : data["pop_sum"].mean(),
        "pop_sum_std" : data["pop_sum"].std(),
        "pop_mean_mean" : data["pop_mean"].mean(),
        "pop_mean_std" : data["pop_mean"].std(),
        "norm2_mean_mean" : data["norm2_mean"].mean(),
        "norm2_mean_std" : data["norm2_mean"].std(),
        #"norm2_std_mean" : data["norm2_std"].mean(),
        #"norm2_std_std" : data["norm2_std"].std(),
        "g_sum_mean" : data["g_sum"].mean(),
        "g_sum_std" : data["g_sum"].std(),
        "g_mean_mean" : data["g_mean"].mean(),
        "g_mean_std" : data["g_mean"].std(),
        #"g_std_mean" : data["g_std"].mean(),
        #"g_std_std" : data["g_std"].std(),
        "romanos" : data["romanos"].iloc[n-1],
        "germanos" : data["germano"].iloc[n-1],
        "galos" : data["galos"].iloc[n-1],
        #"natares" : data["natares"].iloc[n-1],
        "egipcios" : data["egipcios"].iloc[n-1],
        "hunos" : data["hunos"].iloc[n-1],
        "romanos_increase" : data["romanos"].iloc[n-1] - data["romanos"].iloc[0],
        "germanos_increase" : data["germano"].iloc[n-1] - data["germano"].iloc[0],
        "galos_increase" : data["galos"].iloc[n-1] - data["galos"].iloc[0],
        "egipcios_increase" : data["egipcios"].iloc[n-1] - data["egipcios"].iloc[0],
        "hunos_increase" : data["hunos"].iloc[n-1] - data["hunos"].iloc[n-1],
        "rs_day_last" : data["rs_day"].iloc[n-1],
        "p_play" : data[data["one_g"] == True]["one_g"].count()/n,
        "p_play_weekend" : data[(data["one_g"] == True) & (data["weekend"] == True)]["one_g"].count()/data[data["weekend"] == True]["one_g"].count(),
        "p_play_week" : data[(data["one_g"] == True) & (data["weekend"] == False)]["one_g"].count()/data[data["weekend"] == False]["one_g"].count()
        
    }
    
    return player

In [12]:
%%time
gp = rp_no_natares.groupby("id_p")
n = 7
temp = gp.apply(lambda x: get_data_table(x, n))

/home/jorge/miniconda3/envs/tfm_jvm/lib/python3.7/site-packages/ipykernel_launcher.py:39: RuntimeWarning: invalid value encountered in long_scalars

CPU times: user 11min 46s, sys: 1.87 s, total: 11min 48s
Wall time: 11min 53s

In [13]:
temp = [x for x in temp.values.tolist() if x != None]

In [15]:
Ana = pd.DataFrame(temp)
Ana

,id_p,n_days,N_last,N_first,N_diff_positive,N_diff_negative,pop_sum_mean,pop_sum_std,pop_mean_mean,pop_mean_std,...,hunos,romanos_increase,germanos_increase,galos_increase,egipcios_increase,hunos_increase,rs_day_last,p_play,p_play_weekend,p_play_week
0,9,7,3,2,1.0,0.0,1013.714286,257.146336,370.380952,45.911621,...,0,0,0,1,0,0,16,0.857143,0.5,1.0
1,10,7,17,16,1.0,0.0,12741.428571,418.476944,762.258403,6.744138,...,0,1,0,0,0,0,137,1.000000,1.0,1.0
2,12,7,3,3,0.0,0.0,1611.857143,111.475601,537.285714,37.158534,...,3,0,0,0,0,0,16,1.000000,1.0,1.0
3,14,7,2,2,0.0,0.0,369.428571,5.563486,184.714286,2.781743,...,0,0,0,0,0,0,13,0.428571,0.5,0.4
4,19,7,1,1,0.0,0.0,214.285714,22.932613,214.285714,22.932613,...,0,0,0,0,0,0,30,0.714286,0.5,0.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117747,325241,7,1,1,0.0,0.0,372.285714,132.022365,372.285714,132.022365,...,0,0,0,0,0,0,16,0.571429,0.5,0.6
117748,325245,7,2,1,1.0,0.0,474.571429,114.277232,283.285714,36.341961,...,0,0,0,1,0,0,30,0.857143,1.0,0.8
117749,325246,7,1,1,0.0,0.0,205.142857,27.051978,205.142857,27.051978,...,0,0,0,0,0,0,35,1.000000,1.0,1.0
117750,325248,7,2,2,0.0,0.0,322.142857,34.681544,161.071429,17.340772,...,0,0,0,0,0,0,32,0.714286,0.0,1.0
117751,325249,7,7,5,3.0,-1.0,2727.571429,182.776601,481.306122,40.367787,...,0,0,0,2,0,0,23,0.285714,0.5,0.2

In [16]:
Ana[Ana.isna()["p_play_weekend"]]

,id_p,n_days,N_last,N_first,N_diff_positive,N_diff_negative,pop_sum_mean,pop_sum_std,pop_mean_mean,pop_mean_std,...,hunos,romanos_increase,germanos_increase,galos_increase,egipcios_increase,hunos_increase,rs_day_last,p_play,p_play_weekend,p_play_week
73916,209765,7,1,1,0.0,0.0,307.571429,235.531921,307.571429,235.531921,...,0,0,0,0,0,0,24,0.571429,NaN,0.571429

In [17]:
Ana = Ana.dropna()

In [18]:
Ana

,id_p,n_days,N_last,N_first,N_diff_positive,N_diff_negative,pop_sum_mean,pop_sum_std,pop_mean_mean,pop_mean_std,...,hunos,romanos_increase,germanos_increase,galos_increase,egipcios_increase,hunos_increase,rs_day_last,p_play,p_play_weekend,p_play_week
0,9,7,3,2,1.0,0.0,1013.714286,257.146336,370.380952,45.911621,...,0,0,0,1,0,0,16,0.857143,0.5,1.0
1,10,7,17,16,1.0,0.0,12741.428571,418.476944,762.258403,6.744138,...,0,1,0,0,0,0,137,1.000000,1.0,1.0
2,12,7,3,3,0.0,0.0,1611.857143,111.475601,537.285714,37.158534,...,3,0,0,0,0,0,16,1.000000,1.0,1.0
3,14,7,2,2,0.0,0.0,369.428571,5.563486,184.714286,2.781743,...,0,0,0,0,0,0,13,0.428571,0.5,0.4
4,19,7,1,1,0.0,0.0,214.285714,22.932613,214.285714,22.932613,...,0,0,0,0,0,0,30,0.714286,0.5,0.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117747,325241,7,1,1,0.0,0.0,372.285714,132.022365,372.285714,132.022365,...,0,0,0,0,0,0,16,0.571429,0.5,0.6
117748,325245,7,2,1,1.0,0.0,474.571429,114.277232,283.285714,36.341961,...,0,0,0,1,0,0,30,0.857143,1.0,0.8
117749,325246,7,1,1,0.0,0.0,205.142857,27.051978,205.142857,27.051978,...,0,0,0,0,0,0,35,1.000000,1.0,1.0
117750,325248,7,2,2,0.0,0.0,322.142857,34.681544,161.071429,17.340772,...,0,0,0,0,0,0,32,0.714286,0.0,1.0
117751,325249,7,7,5,3.0,-1.0,2727.571429,182.776601,481.306122,40.367787,...,0,0,0,2,0,0,23,0.285714,0.5,0.2

In [19]:
Ana.to_csv("/home/jorge/tfm-jvm/data/data/data_7.csv", index=False)