In [1]:
import pandas as pd
from pyspark import SparkContext

## Clasic

In [2]:
rp = pd.read_csv("/home/jorge/tfm-jvm/data/tables/rec_players.csv")
rp = rp.sort_values(by=["id_p", "rs_day"])
rp

,id_p,N,pop_sum,pop_mean,pop_std,norm2_mean,norm2_std,g_sum,g_mean,g_std,romanos,germano,galos,natares,egipcios,hunos,one_g,rs_day,dayofweek,weekend
0,0,1,17,17.000000,NaN,152.121662,NaN,0.0,0.0,NaN,0,0,0,0.0,1,0,False,6,1,False
1,0,1,17,17.000000,NaN,152.121662,NaN,0.0,0.0,NaN,0,0,0,0.0,1,0,False,7,2,False
2,0,1,17,17.000000,NaN,152.121662,NaN,0.0,0.0,NaN,0,0,0,0.0,1,0,False,8,3,False
3,0,1,17,17.000000,NaN,152.121662,NaN,0.0,0.0,NaN,0,0,0,0.0,1,0,False,9,4,False
4,0,1,17,17.000000,NaN,152.121662,NaN,0.0,0.0,NaN,0,0,0,0.0,1,0,False,10,5,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2616551,325249,6,2786,464.333333,213.712580,132.720858,12.641545,0.0,0.0,0.000000,0,0,6,0.0,0,0,False,19,6,True
2616552,325249,6,2786,464.333333,213.712580,132.720858,12.641545,0.0,0.0,0.000000,0,0,6,0.0,0,0,False,20,0,False
2616553,325249,6,2786,464.333333,213.712580,132.720858,12.641545,0.0,0.0,0.000000,0,0,6,0.0,0,0,False,21,1,False
2616554,325249,5,2684,536.800000,240.178475,135.895819,11.142620,511.0,102.2,54.778645,0,0,5,0.0,0,0,True,22,2,False
2616555,325249,7,2990,427.142857,272.883631,137.244575,9.429437,0.0,0.0,0.000000,0,0,7,0.0,0,0,False,23,3,False

In [3]:
def eval_inactive(x, n):
    l = len(x)
    if l < n:
        return pd.Series([False]*l, name="activity_cut")
    i = 0
    recs = []
    flag = False
    while i < l-(n-1):
        if flag:
            recs.append(False)
            i += 1
        else:
            if any(rec == 0 for rec in x[i:i+n]):
                flag = True
                recs.append(False)
                i += 1
            else:
                recs.append(True)
                i += 1
    if flag:
        addr = [False] * (n-1)
    else:
        addr = [True] * (n-1)
    recs.extend(addr)
    if len(recs) != l:
        raise ArithmeticError
    return pd.Series(recs, name="activity_cut")

In [4]:
%%time
N = 4
rp["activity_cut"] = rp.groupby(by=["id_p"])["one_g"].apply(lambda x: eval_inactive(x.rolling(window=N).sum().values.tolist(), n=N)).reset_index()["one_g"]

CPU times: user 1min 58s, sys: 390 ms, total: 1min 58s
Wall time: 1min 59s

In [5]:
rp[rp["id_p"] == 10].sort_values(by="rs_day")

,id_p,N,pop_sum,pop_mean,pop_std,norm2_mean,norm2_std,g_sum,g_mean,g_std,...,germano,galos,natares,egipcios,hunos,one_g,rs_day,dayofweek,weekend,activity_cut
61,10,15,10930,728.666667,214.172049,62.503328,32.185855,99.0,6.600000,8.244479,...,0,0,0.0,0,0,True,123,1,False,True
62,10,15,10978,731.866667,209.332567,62.503328,32.185855,48.0,3.200000,5.942582,...,0,0,0.0,0,0,True,124,2,False,True
63,10,16,11664,729.000000,199.448907,62.297588,31.105379,16.0,1.000000,22.387497,...,0,0,0.0,0,0,True,125,3,False,True
64,10,16,11749,734.312500,193.641496,62.297588,31.105379,85.0,5.312500,7.226975,...,0,0,0.0,0,0,True,126,4,False,True
65,10,16,11841,740.062500,188.956598,62.297588,31.105379,92.0,5.750000,6.434283,...,0,0,0.0,0,0,True,127,5,True,True
66,10,16,11917,744.812500,183.950435,62.297588,31.105379,76.0,4.750000,6.894442,...,0,0,0.0,0,0,True,128,6,True,True
67,10,16,11989,749.312500,179.922472,62.297588,31.105379,72.0,4.500000,5.621388,...,0,0,0.0,0,0,True,129,0,False,True
68,10,16,12049,753.062500,177.404047,62.297588,31.105379,60.0,3.750000,3.838402,...,0,0,0.0,0,0,True,130,1,False,True
69,10,16,12094,755.875000,171.251813,62.297588,31.105379,45.0,2.812500,8.068199,...,0,0,0.0,0,0,True,131,2,False,True
70,10,16,12206,762.875000,169.868135,62.297588,31.105379,112.0,7.000000,7.958224,...,0,0,0.0,0,0,True,132,3,False,True
71,10,17,12822,754.235294,170.534282,62.327217,30.117901,-5.0,-0.294118,20.511475,...,0,0,0.0,0,0,True,133,4,False,True
72,10,17,12891,758.294118,168.027440,62.327217,30.117901,69.0,4.058824,4.643148,...,0,0,0.0,0,0,True,134,5,True,True
73,10,17,12975,763.235294,165.471119,62.327217,30.117901,84.0,4.941176,5.706034,...,0,0,0.0,0,0,True,135,6,True,True
74,10,17,13063,768.411765,161.250217,62.327217,30.117901,88.0,5.176471,6.635466,...,0,0,0.0,0,0,True,136,0,False,True
75,10,17,13139,772.882353,157.160301,62.327217,30.117901,76.0,4.470588,8.269807,...,0,0,0.0,0,0,True,137,1,False,True

In [8]:
rp[rp["activity_cut"] == True].to_csv("/home/jorge/tfm-jvm/data/tables/rp.csv", index=False)

In [10]:
rp[["romanos", "germano", "galos", "natares", "egipcios", "hunos"]].sum(axis=1).value_counts()

1.0       1032659
2.0        564569
3.0        253757
4.0        143043
5.0        114090
           ...
1092.0          1
1091.0          1
1086.0          1
1080.0          1
444.0           1
Length: 614, dtype: int64

In [6]:
temp = ~rp.groupby("id_p")["activity_cut"].all().rename("inactive")

In [10]:
temp.value_counts()

True     140077
False    107757
Name: inactive, dtype: int64

In [30]:
temp.to_csv("/home/jorge/tfm-jvm/data/data/target_classic.csv")
del temp

## Fuzzy